
@{
    ViewData["Title"] = "AboutUs";
}
<style>
    h4{
       display:block; 
       font:bold;
    }
    img {
        display:inline-block;
        height:150px;
        width:150px;
        margin-right:20px;
    }
</style>
<h1 style="font-family: Aladin; font-size: 25px; color:white; background-color:#203354"><center>About Us</center></h1>
<img src="~/images/Brand.png" />
<div class="forms col-md-8" style="display:inline-block;">
    <h4><u>Who are we?</u></h4>
    <p style="font-size:11px">Lion City Airlines began in the late 1980s. We have been establishing our brand ever since and we have now a established airline company. We are managed by IT02 Team 03: Pan Yecheng, James Yu Renxiang, Nicole Sim Si MIn and Wang Jing Jie. </p>
</div><br /><br />
<img src="~/images/Brand.png" style="opacity:0" />
<div class="forms col-md-8" style="display:inline-block;">
    <h4><u>What our logo symobolizes?</u></h4>
    <p style="font-size:11px">The Lion symbolizes leadership, courage and strength. We want to be the best at we do, providing the best service any airline can give. We want to step out of the comfort zone, to try out different things to further improve our company service to the customers. </p>
</div><br /><br />
<img src="~/images/Brand.png" style="opacity:0" />
<div class="forms col-md-8" style="display:inline-block;">
    <h4><u>Our Motto and Vision</u></h4>
    <p style="font-size:11px">'Any Time, Any Place, Lion City Airlines!' is our motto. Our vision is to not be afraid to take a step into the unknown and leading the way in the Airline industry. That is why we choose the lion to symbolise our courage that we are not afraid to take a step into the unknown.</p>
</div>
