
@{
    ViewData["Title"] = "Deals";
}

<h1 style="font-family: Aladin; font-size: 25px; color:white; background-color:#203354"><center>Deals</center></h1>

<!--banner-->
<div class="banner">
    <center><h1 class="bannerheader">Holiday sales ongoing!</h1></center><br />
    <center><h1 class="bannersubheader">Sales for various flight packages!*</h1></center>
</div>

<div class="container content">
    <!--bootstrap cards to navigate between pages-->
    <div class="options">
        <div class="mini-line"></div>
        <br />
        <div class="row justify-content-center ">
            <!--Personnel Scheduler-->
            <div class="col-sm-4 panel" align="center">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text">4D3N stay at Hong Kong for the price of $200 (Up to $300)</h5><br />
                            <center><input type="button" value="Click here"/></center>
                        </div>
                    </div>
            </div>
            <!--View personnel record-->
            <div class="col-sm-4 panel" align="center">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text">4D3N stay at Johor Bahru, Malaysia for the price of $100 (Up to $150)</h5><br />
                            <center><input type="button" value="Click here" /></center>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

