
@{
    ViewData["Title"] = "HomePage";
}

<center><img height="100px" width="100px" style="margin:20px" src="~/images/Brand.png" /></center>
<h1 style="font-family: Aladin; font-size: 50px; color:white; background-color:#203354"><center>Welcome To Lion City Airlines!</center></h1>
<h2 style="font-family: Aladin; color:white; background-color:#203354"><center>Any Time, Any Place, Lion City Airlines</center></h2>

